<html>

<body>
  
  <h1> Оцени любимата си книга!</h1>
  <div class = "conteiner">
  <div class="info_books">
    <h3> Име на книгата:</h3>
    <div class="ifo_book title_book">{{booksCollection[index].link}} </div>
    <h3> Име на писателя:</h3>
    <div class="ifo_book">{{booksCollection[index].author}} </div>    
    <h3> Кратко описание:</h3>
    <div class="ifo_book">{{booksCollection[index].summary}} </div>   
    <h3> Сегашен рейтинг: </h3>
    <h3>{{booksCollection[index].rating}}</h3>
  </div>
  <div class="rating_buttons">
    <button class="button" (click)="rateBook(index, 1)" (click)="nextBookButton()" (click)="booksCollection[index].rating >= 1">1</button>
    <button class="button" (click)="rateBook(index, 2)" (click)="nextBookButton()" (click)="booksCollection[index].rating >= 2">2</button>
    <button class="button" (click)="rateBook(index, 3)" (click)="nextBookButton()" (click)="booksCollection[index].rating >= 3">3</button>
    <button class="button" (click)="rateBook(index, 4)" (click)="nextBookButton()" (click)="booksCollection[index].rating >= 4">4</button>
    <button class="button" (click)="rateBook(index, 5)" (click)="nextBookButton()" (click)="booksCollection[index].rating >= 5">5</button>
  </div>
</div>
</body>

</html>